<h1>Editing grain jar</h1>

<%= button_to "Shake", shake_grain_jar_path(@grain_jar) %>

<%= render "form", grain_jar: @grain_jar %>

<br>

<div>
  <%= link_to "Show this grain jar", @grain_jar %> |
  <%= link_to "Back to grain jars", grain_jars_path %>
</div>
